<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="10001" id="org.mexicobarranquilla.app" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mexico en Barranquilla</name>
    <description>
        Mexico en Barranquilla 2018
    </description>
    <author email="contact@mexicoenbarranquilla2018.com" href="mexicoenbarranquilla2018.com">
        Digisign
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="permissions" value="none" />
        <preference name="orientation" value="portrait" />
        <preference name="SplashScreenDelay" value="5000" />
        <preference name="ShowSplashScreenSpinner" value="false" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#cf1078" />
        <icon density="ldpi" src="res/icon/android/ldpi_2.png" />
        <icon density="mdpi" src="res/icon/android/mdpi_2.png" />
        <icon density="hdpi" src="res/icon/android/hdpi_2.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi_2.png" />
        <icon density="xxhdpi" src="res/icon/android/xxhdpi_2.png" />
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi_2.png" />
        <splash density="port-hdpi" src="res/screen/android/screen-hdpi-portrait.png" />
        <splash density="port-ldpi" src="res/screen/android/screen-ldpi-portrait.png" />
        <splash density="port-mdpi" src="res/screen/android/screen-mdpi-portrait.png" />
        <splash density="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.1" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-opentok-android-permissions" spec="^1.0.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="^2.0.2" />
    <engine name="ios" spec="~4.5.4" />
</widget>
